<header class="jumbotron first-header" *ngIf="homepageOn; else secondaryNavbar">
    <navbar-slider [images]="banners"></navbar-slider>

    <div class="bg-overlay"></div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-hover navbar-expand-lg navbar-soft navbar-transparent fadein-page">
        <div class="container">
            <a class="navbar-brand">
                <img class="logo-sete" [src]="siteLogo" alt="" (click)="redirectToHome()">
            </a>
            <div class="whats-mobile">
                <a href="https://wa.me/555134804066" target="_blank" rel="noopener noreferrer">
                    <svg viewBox="0 0 32 32" aria-hidden="true">
                        <path
                            d="M16 .396C7.163.396 0 7.56 0 16.396c0 2.893.757 5.708 2.193 8.177L.07 31.93l7.53-2.08a15.93 15.93 0 008.4 2.45c8.837 0 16-7.164 16-16S24.837.396 16 .396zm0 29.265a13.16 13.16 0 01-6.68-1.82l-.48-.285-4.466 1.232 1.19-4.354-.313-.45a13.17 13.17 0 01-2.02-7.089c0-7.27 5.91-13.18 13.18-13.18s13.18 5.91 13.18 13.18-5.91 13.18-13.18 13.18zm7.24-9.86c-.397-.198-2.35-1.16-2.713-1.29-.363-.132-.627-.198-.89.198-.264.396-1.022 1.29-1.254 1.554-.23.264-.462.297-.858.1-.396-.198-1.672-.616-3.186-1.965-1.178-1.05-1.972-2.347-2.205-2.743-.23-.396-.025-.61.173-.808.18-.18.396-.462.594-.693.198-.23.264-.396.396-.66.132-.264.066-.495-.033-.693-.1-.198-.89-2.15-1.22-2.94-.322-.774-.65-.668-.89-.68-.23-.01-.495-.012-.758-.012-.264 0-.693.1-1.056.495-.363.396-1.386 1.355-1.386 3.3s1.42 3.823 1.617 4.087c.198.264 2.794 4.27 6.77 5.987.946.408 1.683.652 2.26.835.95.302 1.815.26 2.498.158.762-.114 2.35-.96 2.68-1.887.33-.927.33-1.722.23-1.887-.1-.165-.363-.264-.76-.462z" />
                    </svg>

                    <span>(51) 3480-4066</span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav99"
                (click)="collapseNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav99" [ngbCollapse]="!navbarIsCollapsed">
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="dropdown" (click)="redirectToAboutUs()"> Sobre nós </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                            (click)="redirectToProperties()"> Imóveis </a>
                        <ul class="dropdown-menu animate fade-up">
                            <li><a class="dropdown-item" (click)="redirectToBuy()"> Comprar </a>
                            <li><a class="dropdown-item" (click)="redirectToRent()"> Alugar </a>
                            <li><a class="dropdown-item" (click)="redirectToCountry()"> Rural </a>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="dropdown" (click)="redirectToEnterprise()">
                            Empreendimentos </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="redirectToServices()">
                            Serviços </a>
                        <ul class="dropdown-menu animate fade-up">
                            <li><a class="dropdown-item" (click)="redirectToPartners()"> Simular financiamento </a>
                            <li><a class="dropdown-item" (click)="redirectToSellYourProperty()"> Comercialize seu imóvel
                                </a>
                        </ul>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="dropdown" (click)="redirectToNews()"> Notícias </a>
                    </li>
                    -->
                    <li class="nav-item"><a class="nav-link" (click)="redirectToContacts()"> Contatos </a></li>

                    <li class="nav-item">
                        <a href="https://clienteonlinelocacao.samisistemas.com.br/login.php?Sigla=dmi" target="_blank"
                            class="btn btn-primary btn-sm mt-4"><strong>2° VIA</strong><br>BOLETOS LOCAÇÃO</a>
                    </li>
                </ul>
                <div class="whats-header">
                    <a href="https://wa.me/555134804066" target="_blank" rel="noopener noreferrer">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
                        <span>(51) 3480-4066</span>
                    </a>
                </div>

                <!-- Search content bar.// -->
                <div class="top-search navigation-shadow">
                    <div class="container">
                        <div class="input-group ">
                            <form action="#">

                                <div class="row no-gutters mt-3">
                                    <div class="col">
                                        <input class="form-control border-secondary border-right-0 rounded-0"
                                            type="search" value="" placeholder="Search " id="example-search-input4">
                                    </div>
                                    <div class="col-auto">
                                        <a class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right"
                                            href="/search-result.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- Search content bar.// -->
            </div> <!-- navbar-collapse.// -->
        </div>
    </nav>
    <!-- END NAVBAR -->

    <app-search [siteInfo]="siteInfo"></app-search>

    <!-- SCROLL TO TOP -->
    <a class="return-to-top" id="return-to-top" (click)="scrollToTop()"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TO TOP -->
    <script type="text/javascript" src="./js/index.bundle.js"></script>
</header>

<ng-template #secondaryNavbar>
    <nav class="navbar navbar-hover navbar-expand-lg navbar-soft">
        <div class="container">
            <a class="navbar-brand">
                <img src="./assets/logos/color-logo-name.png" alt="" class="logo-sete img-fluid"
                    (click)="redirectToHome()">
            </a>
            <div class="whats-mobile">
                <a href="https://wa.me/555134804066" target="_blank" rel="noopener noreferrer">
                    <svg viewBox="0 0 32 32" aria-hidden="true">
                        <path
                            d="M16 .396C7.163.396 0 7.56 0 16.396c0 2.893.757 5.708 2.193 8.177L.07 31.93l7.53-2.08a15.93 15.93 0 008.4 2.45c8.837 0 16-7.164 16-16S24.837.396 16 .396zm0 29.265a13.16 13.16 0 01-6.68-1.82l-.48-.285-4.466 1.232 1.19-4.354-.313-.45a13.17 13.17 0 01-2.02-7.089c0-7.27 5.91-13.18 13.18-13.18s13.18 5.91 13.18 13.18-5.91 13.18-13.18 13.18zm7.24-9.86c-.397-.198-2.35-1.16-2.713-1.29-.363-.132-.627-.198-.89.198-.264.396-1.022 1.29-1.254 1.554-.23.264-.462.297-.858.1-.396-.198-1.672-.616-3.186-1.965-1.178-1.05-1.972-2.347-2.205-2.743-.23-.396-.025-.61.173-.808.18-.18.396-.462.594-.693.198-.23.264-.396.396-.66.132-.264.066-.495-.033-.693-.1-.198-.89-2.15-1.22-2.94-.322-.774-.65-.668-.89-.68-.23-.01-.495-.012-.758-.012-.264 0-.693.1-1.056.495-.363.396-1.386 1.355-1.386 3.3s1.42 3.823 1.617 4.087c.198.264 2.794 4.27 6.77 5.987.946.408 1.683.652 2.26.835.95.302 1.815.26 2.498.158.762-.114 2.35-.96 2.68-1.887.33-.927.33-1.722.23-1.887-.1-.165-.363-.264-.76-.462z" />
                    </svg>

                    <span>(51) 3480-4066</span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav99"
                (click)="collapseNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="!navbarIsCollapsed">
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link active" data-toggle="dropdown" (click)="redirectToAboutUs()"> Sobre nós </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="redirectToProperties()">
                            Imóveis </a>
                        <ul class="dropdown-menu animate fade-up">
                            <li><a class="dropdown-item" (click)="redirectToBuy()"> Comprar </a>
                            <li><a class="dropdown-item" (click)="redirectToRent()"> Alugar </a>
                            <li><a class="dropdown-item" (click)="redirectToCountry()"> Rural </a>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="dropdown" (click)="redirectToEnterprise()">
                            Empreendimentos </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="redirectToServices()">
                            Serviços </a>
                        <ul class="dropdown-menu animate fade-up">
                            <li><a class="dropdown-item" (click)="redirectToPartners()"> Simular financiamento </a>
                            <li><a class="dropdown-item" (click)="redirectToSellYourProperty()"> Comercialize seu imóvel
                                </a>
                        </ul>
                    </li>
                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link active" data-toggle="dropdown" (click)="redirectToNews()"> Notícias </a>
                    </li>
                    -->
                    <li class="nav-item"><a class="nav-link" (click)="redirectToContacts()"> Contatos </a></li>

                    <li class="nav-item">
                        <a href="https://clienteonlinelocacao.samisistemas.com.br/login.php?Sigla=dmi" target="_blank"
                            class="btn btn-primary btn-sm mt-4"><strong>2° VIA</strong><br>BOLETOS LOCAÇÃO</a>
                    </li>
                </ul>
                <div class="whats-header">
                    <a href="https://wa.me/555134804066" target="_blank" rel="noopener noreferrer">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
                        <span>(51) 3480-4066</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- SCROLL TO TOP -->
    <a class="return-to-top" id="return-to-top" (click)="scrollToTop()"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TO TOP -->
    <script type="text/javascript" src="./js/index.bundle.js"></script>
</ng-template>

<a class="whatsapp-floating" href="https://wa.me/555134804066" target="_blank" rel="noopener noreferrer"
    aria-label="Falar pelo WhatsApp">
    <svg viewBox="0 0 32 32" aria-hidden="true">
        <path
            d="M16 .396C7.163.396 0 7.56 0 16.396c0 2.893.757 5.708 2.193 8.177L.07 31.93l7.53-2.08a15.93 15.93 0 008.4 2.45c8.837 0 16-7.164 16-16S24.837.396 16 .396zm0 29.265a13.16 13.16 0 01-6.68-1.82l-.48-.285-4.466 1.232 1.19-4.354-.313-.45a13.17 13.17 0 01-2.02-7.089c0-7.27 5.91-13.18 13.18-13.18s13.18 5.91 13.18 13.18-5.91 13.18-13.18 13.18zm7.24-9.86c-.397-.198-2.35-1.16-2.713-1.29-.363-.132-.627-.198-.89.198-.264.396-1.022 1.29-1.254 1.554-.23.264-.462.297-.858.1-.396-.198-1.672-.616-3.186-1.965-1.178-1.05-1.972-2.347-2.205-2.743-.23-.396-.025-.61.173-.808.18-.18.396-.462.594-.693.198-.23.264-.396.396-.66.132-.264.066-.495-.033-.693-.1-.198-.89-2.15-1.22-2.94-.322-.774-.65-.668-.89-.68-.23-.01-.495-.012-.758-.012-.264 0-.693.1-1.056.495-.363.396-1.386 1.355-1.386 3.3s1.42 3.823 1.617 4.087c.198.264 2.794 4.27 6.77 5.987.946.408 1.683.652 2.26.835.95.302 1.815.26 2.498.158.762-.114 2.35-.96 2.68-1.887.33-.927.33-1.722.23-1.887-.1-.165-.363-.264-.76-.462z" />
    </svg>
</a>